/*= UTILITIES */
/*? GENERALS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circled-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*? COLORS */
.color-grey{
    color: #b1b1b1;
}

.color-dark-grey{
    color: #697485;
}

.color-light-blue{
    color: #8edafc;
}

/*? BG-COLORS */
.bg-color-green{
    background-color: #009688;
}

.bg-color-light-grey{
    background-color: #eaeaea;
}

.bg-color-grey{
    background-color: #b1b1b1;
}

.bg-light-blue{
    background-color: #8edafc;
}
/*= BODY */
body{
    height: 100vh;
    background: linear-gradient(to top, #dddbd2 15% 85%, #009688 15%);
}

#root{
    height: 95%;
    width: 80%;

    position: relative;
    top:2.5%
}