/*= UTILITIES */
/*? GENERALS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circled-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.b-radius-10{
    border-radius: 10px;
}

.font-11{
    font-size: 11px;
}

.unclickable{
    pointer-events: none;
}

.let-me-click{
    z-index: 100;
}

/*? COLORS */
.color-grey{
    color: #b1b1b1;
}

.color-dark-grey{
    color: #697485;
}

.color-light-blue{
    color: #8edafc;
}

/*? BG-COLORS */
.bg-color-white{
    background-color: #fff;
}

.bg-color-green{
    background-color: #009688;
}

.bg-color-lighter-grey{
    background-color: #f3eeea;
}

.bg-color-light-grey{
    background-color: #eaeaea;
}

.bg-color-grey{
    background-color: #b1b1b1;
}

.bg-color-light-blue{
    background-color: #8edafc;
}

.bg-color-light-green{
    background-color: #d5f9ba;
}


/*= BODY */
body{
    height: 100vh;
    background: linear-gradient(to top, #dddbd2 15% 85%, #009688 15%);
}

#root{
    height: 715px;
    width: 1300px;

    position: relative;
    top:50%;
    transform: translateY(-50%);
}

#users{
    height: 467px;
    overflow-y: scroll;
}

.contact{
    height: 100px;
}

#chat{
    background-image: url(./img/mine.jpg);
    height: 545px;
    overflow-y: auto;
}

.message{
    background-color: #fff;
}

.message.sent{
    margin-left: auto;
    background-color: #d5f9ba
}

.message.received{
    background-color: #fff
}

.delete-message{
    left: 100%;
    bottom: 100%;
    transform: translate(-155%, 95%);
}

/*= EFFECTS */
/*? HOVER EFFECTS */

.contact:hover{
    background-color: #eaeaea;
}